@import 'https://fonts.googleapis.com/css?family=Varela+Round';
@import 'https://code.highcharts.com/css/highcharts.css';

@-ms-viewport{
    width: device-width;
}

body{
    background: #F5F5F5;
    color: #424242;
    font-family: 'Varela Round', sans-serif;
}
h1 {
    text-transform: uppercase;
    color: #FF5252;
    padding: 0.8rem 0rem;
    text-align: center;
}
h2{
    margin: 0;
}
p.target {
    margin-bottom: 0.8rem;
}
.content{
    background:#FFF;
    margin-bottom: 1rem;
}
.section-box{
    padding: 1rem;
}
/*Buttons*/
button, .button {
    font-family: 'Varela Round', sans-serif;
    background-color: #FF5252;
    font-size: 1rem;
    color: #FFFFFF;
}
button:hover, button:focus, .button:hover, .button:focus{
    background-color: #FF8A80;
}
.button-group.round > * > button, .button-group.round > * .button {
    border-left: 2px solid;
    border-color: rgba(255, 255, 255, 0.8);
}
.button-group.round label {
    padding: 1rem;
}
.button-group {
    margin-bottom: 1rem;
}
.button.disabled {
    background: #BDBDBD;
    pointer-events: none;
}
button.big.button {
    width: 100%;
    text-transform: uppercase;
}
i.fi-arrow-right {
    margin-right: 5px;
}
i.fi-link {
    margin-left: 10px;
}
/*Input*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
    border-color: #ddd;
    box-shadow: none;
}
input[data-toggle] {
    display: none;
}

input[data-toggle]:checked + label,
input[data-toggle]:checked + label:active {
    background-color: #f40c21;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05); }

.button-group.toggle li:not(first-child) {
    margin: 0 -0.9rem;
}

#migration-result {
    font-size: 1rem;
    padding: 16px;
    border: 0;
}

#analysis-result b {
    font-size: 1rem;
    display: block;
    margin-bottom: 6px;
}
#analysis-result span {
    font-size: 0.8rem;
}
#analysis-result li {
    font-size: 0.7rem;
    list-style: none;
}
#analysis-result span:hover {
    cursor: pointer;
}
#analysis-result div.data {
    margin-bottom: 5px;
}
#run-block {
    padding: 0;
    border: 1px;
}

#container {
    height: 400px;
    max-width: 800px;
    margin: 0 auto;
}
.highcharts-color-0 {
    fill: #68A9A4;
    stroke: #68A9A4;
}
.highcharts-axis.highcharts-color-0 .highcharts-axis-line {
    stroke: white;
}
.highcharts-axis.highcharts-color-0 text {
    fill: #DC864A;
}
.highcharts-yaxis .highcharts-axis-line {
    stroke-width: 0;
}
.highcharts-background {
    fill: #a0d3e8;
}